@model UniversityManagementMVC.Models.Teacher

@{
    ViewBag.Title = "Save Teacher";
}
<style>
    label.error {
        color: #dc143c;
        font-weight: bold;
    }
</style>
<h2>Save Teacher</h2>
<form id="myForm">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Teacher</h4>
        <hr />
        @Html.ValidationSummary(true)
        <h4>@ViewBag.Msg</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContactNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, "Designation", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Designation", String.Empty)
                @Html.ValidationMessageFor(model => model.Designation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "DepartmentId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", String.Empty)
                @Html.ValidationMessageFor(model => model.DepartmentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditToBeTaken, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CreditToBeTaken, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CreditToBeTaken)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myForm").validate({
            rules: {
                Name: {
                    required: true

                },
                Email: {
                    Email: true,
                    required : true
                },
                CreditToBeTaken: {
                    required: true

                },
                DepartmentId: "required",
                Semester: "required",
                Designation: {
                    required: true
                }
            },
            messages: {
            Name: "Enter Name",
            Email: "Enter email",
            CreditToBeTaken: "Please provide Course",
            DepartmentId: "required",
            Semester: "required",
            Designation: "Enter Designation"
            }
    });
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
